body {
  font-family: sans-serif;
}

p.todo {
  color: red;
  font-weight: bold;
  display: none;
 }

p.todo::before {
  content: "To Do: ";
}

/* Side-by-side display */
.grid-container {
	width: 100%;
	margin: auto;
  display: grid;
  grid-template-columns: auto auto;
	grid-template-rows: auto auto;
  grid-gap: 7px;
	box-sizing: border-box;
}

.grid-container img {
	object-fit: cover;
	/*width: 100%;*/
	height: auto;
  max-height: 750px;
}

div.choices {
  display: inline-block;
}

div.choices label {
  position: relative;
}

select {
  background-color: #99CC00;
  color: white;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

select:hover {
  background-color: #5B8E28;
}

/**BEGIN SLIDERS**/
/*Slider styling from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ adapt for release later!!*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin-bottom: 25px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -9px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #99CC00;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #99CC00;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #99CC00;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #99CC00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #99CC00;
}
input[type=range]::-ms-fill-upper {
  background: #99CC00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #99CC00;
}
/**END SLIDERS**/


div.center {
  display: block;
  margin: auto;
  width: 80%;
}

/**BEGIN TABS**/
/* Tabs mit radio-Buttons */
.tabbed figure {
   display: block;
   margin-left: 0;
   border-bottom: 1px solid silver;
   clear: both;
}

/* Register Tabs */
.tabbed > input,
.tabbed figure > div { display: none; }

.tabbed figure>div {
  padding: 15px;
  width: 100%;
  border: 1px solid silver;
}

#tab1:checked ~ figure .tab1,
#tab2:checked ~ figure .tab2,
#tab3:checked ~ figure .tab3 { display: block; }

/* Styling the tabs */
nav label {
   float: left;
   padding: 10px 10px;
   border-top: 1px solid silver;
   border-right: 1px solid silver;
	 border-radius: 5px 5px 0px 0px;
   background: #99CC00;
	 background-color: #99CC00;
   color: #eee;
   cursor: pointer;
}

nav label:nth-child(1) { border-left: 1px solid silver; }
nav label:hover { background: #5B8E28;
                  background-color: #5B8E28}
nav label:active { background: #5B8E28 }

#tab1:checked ~ nav label[for="tab1"],
#tab2:checked ~ nav label[for="tab2"] {
  background: white;
  color: #111;
  position: relative;
  border-bottom: none;
}

#tab1:checked ~ nav label[for="tab1"]:after,
#tab2:checked ~ nav label[for="tab2"]:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  bottom: -1px;
}
/**END TABS**/
