/*Colors*/
$nonCA: #dddddd;
$background: #bbbbbb;
$i_1_2_3: black;

// $nonCA: LightGray;
// $background: black;
// $i_1_2_3: white;

$i_1: #f62621;
$i_2: #368fd8;
$i_3: #08aa53;
$i_1_2: #ec03db;
// $i_1_3: #e6e203;
$i_1_3: #FFFF00;
// $i_2_3: #4cf6fa;
$i_2_3: cyan;


.palette_select {
  margin-top: 5px;
}

// $i_1_2: mix($i_1, $i_2);
// $i_1_3: mix($i_1, $i_3);
// $i_2_3: mix($i_2, $i_3);

* {
  box-sizing: border-box;
}

.menu-center {
  display: block;
  width: 25% !important;
  float: right;
}

.choices {
  width: 100% !important;
}

.instance {
  float: left;
  // border: 2px solid black;
  margin-top: 7%;
  padding-right: 5px;
}

.area-grid, .area-grid-1, .area-grid-2, .area-grid-3, .area-grid-4 {
  width: 80%;
  margin: auto;
}

.area-grid-1, .area-grid-2, .area-grid-3, .area-grid-4 {
  margin-top: 15px;
}

.grid-wrapper {
  // width: 50%;
  // max-height: 150px;
  // border: 2px solid blue;
  // padding-left: 50%;
}

.heavy {font-size: 20pt; font-style: bold;}
.heavy-ish {font-size: 15pt;font-style: bold;}

.row-1, .row-2 {
  display: inline-block;
  width: 66.66%;
}

.functional-cortex {
  display: block;
  float: left;
  width: 50%;
  height: auto;
}

.area {
  display: inline-block;
  float: left;
  width: 33.33%;
  height: auto;
}

.row-1 .area p {
  // display: block;
  height: 8px;
  text-align: center;
  font-size: 1vh;
  display: none;
}

.row-2 .area p {
  display: block;
  position: absolute;
  height: 8px;
  text-align: center;
  bottom: 0;
  font-size: 1vh;
  display: none;
}

.area svg {
  width: 100%;
  height: auto;
}

// Cell assembly colors
.nonCA {fill: $nonCA;}
.background {fill: $background;}
.i_1 {fill: $i_1;}
.i_2 {fill: $i_2;}
.i_3 {fill: $i_3;}
.i_1_2 {fill: $i_1_2;}
.i_1_3 {fill: $i_1_3;}
.i_2_3 {fill: $i_2_3;}
.i_1_2_3 {fill: $i_1_2_3;}

.background.dark {fill: black;}
.nonCA.dark {fill: Gray;}
.i_1_2_3.dark {fill:white;}

.hub-top {
  margin-top: 6px;
}
.hub-bottom {
  margin-top: -6px;
}

// .tab1 {
//   background: black;
// }


// #visual {
//   border-top: 3px solid #4f8031ff;
//   // border-bottom: 3px solid #4f8031ff;
//   border-left: 3px solid #4f8031ff;
//   border-radius: 10px 0px 0px 0px;
// }
//
// #motor {
//   border-top: 3px solid #ca6625ff;
//   border-right: 3px solid #ca6625ff;
//   // border-bottom: 3px solid #ca6625ff;
//   border-radius: 0px 10px 0px 0px;
// }
//
// #auditory {
//   // border-top: 3px solid #2075b6ff;
//   border-bottom: 3px solid #2075b6ff;
//   border-left: 3px solid #2075b6ff;
//   border-radius: 0px 0px 0px 10px;
// }
//
// #articulatory {
//   // border-top: 3px solid #e5175eff;
//   border-right: 3px solid #e5175eff;
//   border-bottom: 3px solid #e5175eff;
//   border-radius: 0px 0px 10px 0px;
// }
