/*Colors*/
$nonCA: #bbbbbb;
$background: #dddddd;
$i_1_2_3: black;

// $nonCA: LightGray;
// $background: black;
// $i_1_2_3: white;

$i_1: #f62621;
$i_2: #368fd8;
$i_3: #08aa53;
$i_1_2: #ec03db;
// $i_1_3: #e6e203;
$i_1_3: #FFFF00;
// $i_2_3: #4cf6fa;
$i_2_3: cyan;

* {
  box-sizing: border-box;
}

header.dataviz {
  text-align: center;
}
.back-nav {
  font-weight: bolder;
  font-size: 24pt;
}

.two-col {
  display: block;
  //width: 100%;
  margin: 20px 0 0 0;
}

.left {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  text-align: justify;
}

.right {
  display: block;
  float: left;
  width: 48%;
  margin: 0 0 0 2%;
}

.right img {
  width: 100%;
  height: auto;
}

.caption {
  font-style: italic;
  text-align: justify;
}

.two-col:after {
  content: "";
  display: table;
  clear: both;
}

.full {
  padding: 0px;
  background-color: #002b36;
  color: white;
}
.wide {
  width: 900px;
  margin: auto;
}

.tabbed {
  width: 100%;
}

.palette_select {
  margin-top: 5px;
}



.menu-center {
  display: block;
  width: 150px !important;
  float: right;
  position: sticky;
  top: 0px;
}

.choices {
  width: 100% !important;
}

.instance {
  // float: left;
  // border: 2px solid black;
  // margin-top: 7%;
  // padding-right: 5px;
  // display: none;
}

.grid-wrapper {
  // width: 100%;
	margin: auto;
  display: grid;
  // grid-template-columns: 1fr 10fr;
  grid-template-columns: 50px 600px;
	box-sizing: border-box;
  grid-gap: 7px;
  // height: 50vh;
}

#instance-1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

#instance-2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

#instance-3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

#overlay {
  padding-top: 50px;
  grid-column-start: 1;
  grid-row-start: 4;
}

.instance {
  display: flex;
}

.instance svg {
  margin: auto auto;
  // max-width: 50px;
}

.area-grid {
  grid-row-start: 1;
  grid-column-start: 2;
}

.area-grid-2 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.area-grid-3 {
  grid-row-start: 3;
  grid-column-start: 2;
}

.area-grid-4 {
  grid-row-start: 4;
  grid-column-start: 2;
}

.row-1, .row-2 {
  display: inline-block;
  width: 600px;
}

.functional-cortex {
  display: block;
  float: left;
  width: 300px;
  height: auto;
}

.area {
  display: inline-block;
  float: left;
  // width: 33.33%;
  width: 100px;
  height: auto;
  // border: 5px solid red;
  // padding-left: 50px;
}

.area:last-child {
  // padding-left: 50px;
  // margin-left: 5px;
}

.area svg {
  // width: 100%;
  width: 100px;
  height: auto;
  // height: 12vh;
  // width: auto;
}

.heavy {font-size: 20pt; font-style: bold;}
.heavy-ish {font-size: 15pt; font-style: bold;}

.row-1 .area p {
  // display: block;
  height: 8px;
  text-align: center;
  font-size: 1vh;
  display: none;
}

.row-2 .area p {
  // display: block;
  position: absolute;
  height: 8px;
  text-align: center;
  bottom: 0;
  font-size: 1vh;
  display: none;
}

.tab1 #palette, .tab2 #palette {
  width: 80%;
  // border: 2px solid red;
  margin: auto;
}

.hline-top {
  // width: 80%;
  padding-top: 10px;
  border-top: 2px solid #93a1a1;
}

// Solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// R Colorblind
$blackr:      #000000;
$oranger:    #E69F00;
$bluer:      #56B4E9;
$greenr:     #009E73;
$yellowr:    #F0E442;
$darkbluer:  #0072B2;
$darkoranger: #D55E00;
$pinkr:       #CC79A7;

// Cell assembly colors

.background {fill: Gray;}
.nonCA {fill: DarkGray;}
.i_1 {fill: $i_1;}
.i_2 {fill: $i_2;}
.i_3 {fill: $i_3;}
.i_1_2 {fill: $i_1_2;}
.i_1_3 {fill: $i_1_3;}
.i_2_3 {fill: $i_2_3;}
.i_1_2_3 {fill: $i_1_2_3;}

.background.dark {fill: Gray;}
.nonCA.dark {fill: DarkGray;}
.i_1.dark {fill: $i_1;}
.i_2.dark {fill: $i_2;}
.i_3.dark {fill: $i_3;}
.i_1_2.dark {fill: $i_1_2;}
.i_1_3.dark {fill: $i_1_3;}
.i_2_3.dark {fill: $i_2_3;}
.i_1_2_3.dark {fill: white;}

.background.solarized-dark {fill: $base1;}
.nonCA.solarized-dark {fill: $base0;}
.i_1.solarized-dark {fill: $red;}
.i_2.solarized-dark {fill: $blue;}
.i_3.solarized-dark {fill: LightGreen;}
.i_1_2.solarized-dark {fill: $magenta;}
.i_1_3.solarized-dark {fill: yellow;}
.i_2_3.solarized-dark {fill: $cyan;}
.i_1_2_3.solarized-dark {fill: $base3;}

.background.solarized-light {fill: $base2;}
.nonCA.solarized-light {fill: $base3;}
.i_1.solarized-light {fill: $red;}
.i_2.solarized-light {fill: $blue;}
.i_3.solarized-light {fill: $green;}
.i_1_2.solarized-light {fill: $magenta;}
.i_1_3.solarized-light {fill: $yellow;}
.i_2_3.solarized-light {fill: $cyan;}
.i_1_2_3.solarized-light {fill: $base03;}

.background.dark {fill: Gray;}
.nonCA.dark {fill: DarkGray;}
.i_1.r-colorblind {fill: $darkoranger;}
.i_2.r-colorblind {fill: $darkbluer;}
.i_3.r-colorblind {fill: $greenr;}
.i_1_2.r-colorblind {fill: $pinkr;}
.i_1_3.r-colorblind {fill: $yellowr;}
.i_2_3.r-colorblind {fill: $bluer;}
.i_1_2_3.r-colorblind {fill: $blackr;}

.WFctrlCA {fill: DimGray	;}

.hub-top {
  margin-top: 6px;
}
.hub-bottom {
  margin-top: -6px;
}

.dark-mode {
  background-color: $base03;
}

// .tab1 {
//   background: black;
// }


// #visual {
//   border-top: 3px solid #4f8031ff;
//   // border-bottom: 3px solid #4f8031ff;
//   border-left: 3px solid #4f8031ff;
//   border-radius: 10px 0px 0px 0px;
// }
//
// #motor {
//   border-top: 3px solid #ca6625ff;
//   border-right: 3px solid #ca6625ff;
//   // border-bottom: 3px solid #ca6625ff;
//   border-radius: 0px 10px 0px 0px;
// }
//
// #auditory {
//   // border-top: 3px solid #2075b6ff;
//   border-bottom: 3px solid #2075b6ff;
//   border-left: 3px solid #2075b6ff;
//   border-radius: 0px 0px 0px 10px;
// }
//
// #articulatory {
//   // border-top: 3px solid #e5175eff;
//   border-right: 3px solid #e5175eff;
//   border-bottom: 3px solid #e5175eff;
//   border-radius: 0px 0px 10px 0px;
// }
